<footer class="page-footer font-small pt-4" style="background-color: #45526e; margin-top:20px;">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left mt-3 pb-3">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">degistir.org</h6>
                <p>
                    Dünyanın değişim platformu
                </p>
                <p>
                    455.053.917 kişi harekete geçiyor. Her gün kampanyalar başarıya ulaşıyor.
                </p>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Linkler</h6>
                <p>
                    <a asp-controller="Home" asp-action="Index">Biz Kimiz</a>
                </p>
                <p>
                    <a asp-controller="Home" asp-action="Privacy">Gizlilik ve Güvenlik Politikası</a>
                </p>
            </div>
            <hr class="w-100 clearfix d-md-none">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">İletişim</h6>
                <p>
                    <i class="fa fa-home mr-3"></i> Ankara, Çankaya, TR
                </p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> info@degistir.org
                </p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 90 234 567 88
                </p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 90 234 567 89
                </p>
            </div>
        </div>
        <hr>
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-left">
                    © 2021 Copyright:
                    <strong> Ali TÜRKER & Mehmet Eren BALLI</strong>
                </p>

            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>