@page
@model LogoutModel
@{
    ViewData["Title"] = "Oturum Kapatma";
}

<div class="container" style="margin-top:50px;">
<header>
    <h1>@ViewData["Title"]</h1>
    <p>Başarıyla oturumu kapattınız.</p>
</header>
</div>